<!DOCTYPE html>
<html>
	<head>
		<style type='text/css'>
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.axis path {
		  display: none;
		}

		.line {
		  fill: none;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}
		</style>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<title>My D3 Visualization - linechart 2</title>
	</head>
	<body>






		<script type="text/javascript">
			
			//**********************************************************************************
			// Sample Data
			//**********************************************************************************
			var data = 
			[
				['1-Jan-14', 50],
				['1-Feb-14', 60],
				['1-Mar-14', 70],
				['1-Apr-14', 80],
				['1-May-14', 90],
				['1-Jun-14', 70],
				['1-Jul-14', 50],
				['1-Aug-14', 40],
				['1-Sep-14', 80],
				['1-Oct-14', 90],
				['1-Nov-14', 20],
				['1-Dec-14', 50]

			]

			//d3 code here









		</script>
	</body>
</html>